* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.city-card {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.city-name {
  font-size: 50px;
  opacity: 0.7;
  text-transform: uppercase;
}

.country-name {
  font-size: 30px;
  opacity: 0.7;
  text-transform: uppercase;
}

.temp p {
  font-size: 50px;
  opacity: 0.7;
}

/* .card-1 {
  background-image: url("/images/pic1.jpg");
}

.card-2 {
  background-image: url("/images/pic2.jpg");
}

.card-3 {
  background-image: url("/images/pic3.jpg");
}

.card-4 {
  background-image: url("/images/pic4.jpg");
} */

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0 15px 0;
  border: none;
  background: #e7e7e7e7;
  outline: none;
  border-radius: 5px;
  height: 50px;
}
